
body {
	
	font-family: Verdana, sans-serif;
}

#container {
	
	margin: 0 auto;
	width: 600px;
	position: relative;
}

.button {
	position: absolute;
	left: 150px;
	top: 200px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #a12727;
    border-radius: 8px;
    background: #ff4a4a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#992727));
    background: -moz-linear-gradient(top, #ff4a4a, #992727);
    background: linear-gradient(to bottom, #ff4a4a, #992727);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 20px verdana;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    background: #ff5959;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
    background: -moz-linear-gradient(top, #ff5959, #b62f2f);
    background: linear-gradient(to bottom, #ff5959, #b62f2f);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #982727, #982727);
    background: linear-gradient(to bottom, #982727, #982727);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABUElEQVRIibWVMU7DQBBFH5FFgVymiDhBlCuQI1CkQJSpLcQJ6CxKDmAhxBFc5BAW4gRRlAOkQJSurMgUM6uYyI5ncPjSFt6V3+zOX39f8D+KgFvg5tzgGEiANVADi3OBx0AK7BRca5FoKHgKZEDZAIeRDAHPgRyoWsA1cpLYCx0hPS2AfQc4jNQDDsZteqBhlIgnJi35bZxlZJ6de+EVYrxJiRNeI8abNEJ6/gG8G+F75HaZtNCX7rSYpUjh2X2hJ4gac289BcyxMEeO+3A0H50ostFNmJQDX8BVy1pXu8yxMEWu2qkv8biIKxZCcE061i+Be+CzAV9a4WOFv7asxcAjsOXQ8wRnoKVIe2aNuWvgGfhGjC+Q22I2tLnDHbDS5xlyY0otmuP4iNoUYuFJi1QKz3BkS5ciDv/QYFyKI3L7FGJhzR+Ms+hFiwz+QbfpB1+Sp/LSFVwWAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}
