body {
    font-family: Verdana, sans-serif;
}

ul {
    list-style: none;
    
}

li {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 30%;    
    display: inline-block;
}

p {
    
    margin: 0.25em 0;
}